* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_menu {
  background-image: url(imgs/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header_container {
  width: 100%;
  padding-top: 50px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu_text {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  margin-right: 30px;
}

.social_media {
  flex-direction: row;
  margin-right: 15%;
  margin-top: 2%;
}

.img1 {
  margin-right: 20px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navigation ul {
  margin-left: 20px;
}

.header_top_content {
  display: flex;
  align-items: center;
  height: 10vh;
}

.header-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  flex-direction: column;
}

.products h2 {
  color: rgb(247, 247, 247);
  font-size: 40px;
  font-weight: lighter;
}

.products h4 {
  display: flex;
  color: beige;
  font-size: 24px;
  font-weight: lighter;
  justify-content: space-evenly;
}

.btn {
}

.header__button {
  text-decoration: none;
  padding: 16px 45px 16px 45px;
  border-radius: 47px;
  background: aqua;
  color: #ffffff;
  border: 1px solid aqua;
}
